.media-slider-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.flex-row {
	flex-direction: row;
}

/* Container for media and caption */
.slider-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
}

/* Media slider styling */
.slider-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #000;
	border-radius: 2px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-media {
	max-width: 100%;
	max-height: 100%;
	border-radius: 4px;
}

/* Caption container for below mode */
.slider-caption-container {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.slider-caption {
	color: #fff;
	font-size: 0.9em;
}

/* Overlay caption styling */
.slider-caption-overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	font-size: 0.9em;
	padding: 5px;
}

/* Navigation buttons */
.slider-btn {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
	z-index: 10;
	opacity: 0.5;
}

/* Horizontal thumbnail container */
.thumbnail-container.horizontal {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	white-space: nowrap;
	width: 100%;
	margin: 10px 0;
	/* CSS hints to improve performance */
	will-change: transform;
	contain: layout paint;
}

/* Vertical thumbnail container */
.thumbnail-container.vertical {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	margin: 10px 0;
	min-width: 95px;
}

/* Thumbnail styling */
.thumbnail {
	width: 70px;
	height: 70px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: border-color 0.3s;
}

.thumbnail:hover {
	border-color: blue;
}

/* Increased size for vertical thumbnails */
.vertical-thumb {
	height: 70px;
	width: 70px;
	min-height: 70px;
	min-width: 70px;
}

/* Active thumbnail style */
.active-thumbnail {
	border: 2px solid #FF4081 !important;
}

/* Placeholder for non-image thumbnails */
.thumbnail-placeholder {
	width: 65px;
	height: 65px;
	min-width: 65px;
    margin: 4px 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #343434;
    color: #ebebeb;
	font-weight: bold;
	border: 2px solid transparent;
	border-radius: 5px;
	font-size: 0.8em;
	cursor: pointer;
	
}

.vertical-thumbnail-container {
	max-width: 92px;
}


/* Thin scrollbar styling for thumbnails */
.thumbnail-container::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.thumbnail-container::-webkit-scrollbar-track {
	background: transparent;
}
.thumbnail-container::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
}


.fullscreen_style {
	height: 85vh;
}